/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
article p:first-child{
	background-color:black;
	color:white;
}
p:last-child{
	color:red;
}
li:first-child, li:last-child{
	font-size:22px;
}
li:nth-child(odd){
	background-color:white;
}
li:nth-child(2),li:nth-child(4){
	background-color:gray;
}
li:nth-child(3){
	background-color:pink;
}
li{
	width:50%;
	padding:10px;
	box-sizing:border-box;
}